<header>
  <div class="flex w-1/6 justify-evenly">
    <a href="{% url 'core:home' %}">Home</a>
    <a href="{% url 'core:search' %}">Search</a>
  </div>  
  <div class="flex w-1/6 justify-evenly">
    {% if user.is_authenticated %}
      <a href="{{ user.get_absolute_url }}">Profile</a>
      <a href="{% url 'favs:see-favs' %}">Favs</a>
      <a href="{% url 'core:logout' %}">Log out</a>
    {% else %}
      <a href="{% url 'core:login' %}">Log in</a>
      <a href="{% url 'core:signup' %}">Sign up</a>
    {% endif %}
  </div>
</header>
