{% load on_favs i18n %}

<div class="card">
    <a href="{% url 'books:detail' book.pk %}">
        {% if book.cover_image %}
            <img class="cover-image" src="{{book.cover_image.url}}" />
        {% else %}
            <div class="cover-image"><span>No Image</span></div>
        {% endif %}
    </a>
    <div class="mx-3">
        <div class="flex justify-between">
            <a href="{% url 'books:detail' book.pk %}">
                <span class="block text-sm mb-2">{{book.title}}</span>
            </a>
            {% if user.is_authenticated %}
                {% on_favs "book" book as on_favs_boolean %}
                {% if on_favs_boolean %}
                    <a href="{% url 'favs:toggle-favs' pk=book.pk %}?action=delete&type=book"><i class="fas fa-heart text-red-500 text-lg mr-1"></i></a>
                {% else %}
                    <a href="{% url 'favs:toggle-favs' pk=book.pk %}?action=add&type=book"><i class="far fa-heart text-red-500 text-lg mr-1"></i></a>
                {% endif %}
            {% endif %}
        </div>
        <div class="flex w-full justify-between items-center">
            <span class="px-2 py-1 rounded-full bg-blue-300 text-white text-sm">{{book.year}}</span>
            <span class="text-red-400 text-lg"><i class="fas fa-star mr-1"></i>{{book.rating}}</span>
        </div>
    </div>
</div>