{% load on_favs i18n %}
<div class="card">
    <a href="{% url 'movies:detail' movie.pk %}">
        <img class="cover-image" src="{{movie.cover_image.url}}" />
    </a>
    <div class="mx-3">
        <div class="flex justify-between">
            <a href="{% url 'movies:detail' movie.pk %}">
                <span class="block text-sm mb-2">{{movie.title}}</span>
            </a>
            {% if user.is_authenticated %}
                {% on_favs "movie" movie as on_favs_boolean %}
                {% if on_favs_boolean %}
                    <a href="{% url 'favs:toggle-favs' pk=movie.pk %}?action=delete&type=movie"><i class="fas fa-heart text-red-500 text-lg mr-1"></i></a>
                {% else %}
                    <a href="{% url 'favs:toggle-favs' pk=movie.pk %}?action=add&type=movie"><i class="far fa-heart text-red-500 text-lg mr-1"></i></a>
                {% endif %}
            {% endif %}
        </div>
        <div class="flex w-full justify-between items-center">
            <span class="p-2 rounded-full bg-blue-300 text-white text-sm">{{movie.year}}</span>
            <span class="text-red-400 text-lg"><i class="fas fa-star mr-1"></i>{{movie.rating}}</span>
        </div>
    </div>
</div>