{% extends "base.html" %}
{% load on_favs i18n %}

{% block page_title %}
    Detail Book
{% endblock page_title %}

{% block content %}
    <div class="detail">
        <img src="{{book.cover_image.url}}"/>
        <div class="detail__content">
            <div class="detail__content-row mb-8">
                <div class="flex justify-start items-center text-3xl">
                    <h1 class=" my-2">{{book.title}}</h1>
                    {% if user.is_authenticated %}
                        {% on_favs "book" book as on_favs_boolean %}
                        {% if on_favs_boolean %}
                            <a href="{% url 'favs:toggle-favs' pk=book.pk %}?action=delete&type=book"><i class="fas fa-heart text-red-500 mx-2"></i></a>
                        {% else %}
                            <a href="{% url 'favs:toggle-favs' pk=book.pk %}?action=add&type=book"><i class="far fa-heart text-red-500 mx-2"></i></a>
                        {% endif %}
                    {% endif %}
                </div>   
                <span class="span__circle bg-blue-300 ">{{book.year}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Rating</span>
                <span class="span__circle bg-pink-400">{{movie.rating}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Category</span>
                <span class="span__circle bg-green-400 ">{{book.category}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Writer</span>
                <span class="span__circle bg-red-900 ">{{book.writer}}</span>
            </div>
            <div class="detail__content-row text-center w-full">
                <a class="detail__edit" href="{% url 'books:edit' book.pk%}">Edit Book</a>
            </div>
        </div>
    </div>
    <div class="reviews__box">
        <span>
            Reviews
        </span>
        {% for review in book.reviews %}
          {{review}}
        {% endfor %}
    </div>
{% endblock content %}