container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_createsu:
    command: "django-admin create_su"
  03_collectstatic:
    command: "django-admin collectstatic --noinput"
  04_seed_review_books:
    command: "django-admin seed_review_books --number 50"
  05_seed_review_movies:
    command: "django-admin seed_review_movies --number 50"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings