container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_createsu:
    command: "django-admin create_su"
  03_collectstatic:
    command: "django-admin collectstatic --noinput"
  04_seed_categories:
    command: "django-admin seed_categories"
  05_seed_users:
    command: "django-admin seed_users --number 20"
  06_seed_people:
    command: "django-admin seed_people --number 20"
  07_seed_books:
    command: "django-admin seed_books --number 20"
  08_seed_movies:
    command: "django-admin seed_movies --number 20"
  09_seed_favs:
    command: "django-admin seed_favs"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings