{% extends "base.html" %}
{% load on_favs i18n %}

{% block page_title %}
    Detail Movie
{% endblock page_title %}

{% block content %}
    <div class="detail">
        <img src="{{movie.cover_image.url}}"/>
        <div class="detail__content">
            <div class="detail__content-row mb-8">
                <div class="flex justify-start items-center text-3xl">
                    <h1 class="my-2">{{movie.title}}</h1>
                    {% if user.is_authenticated %}
                        {% on_favs "movie" movie as on_favs_boolean %}
                        {% if on_favs_boolean %}
                            <a href="{% url 'favs:toggle-favs' pk=movie.pk %}?action=delete&type=movie"><i class="fas fa-heart text-red-500 mx-2"></i></a>
                        {% else %}
                            <a href="{% url 'favs:toggle-favs' pk=movie.pk %}?action=add&type=movie"><i class="far fa-heart text-red-500 mx-2"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
                <span class="span__circle bg-blue-300 ">{{movie.year}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Rating</span>
                <span class="span__circle bg-pink-400">{{movie.rating}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Category</span>
                <span class="span__circle bg-green-400 ">{{movie.category}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Director</span>
                <span class="span__circle bg-red-900 ">{{movie.director}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Cast</span>
                <div class="flex flex-wrap">
                    {% for c in movie.cast.all  %}
                        <span class="span__circle bg-yellow-400  mr-1 mb-1">{{c}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="detail__content-row text-center">
                <a class="detail__edit" href="{% url 'movies:edit' movie.pk%}">Edit Movie</a>
            </div>
        </div>
    </div>
    <div class="reviews__box flex flex-col">
        <h2 class="text-2xl">
            Reviews
        </h2>
        {% for review in movie.reviews.all %}
            <div class="review">
                {{review.created_by}}
                {{review.text}}
                {{review.rating}}
            </div>
        {% endfor %}
    </div>
{% endblock content %}