{% extends "base.html" %}

{% block page_title %}
    Detail Movie
{% endblock page_title %}

{% block content %}
    <div class="detail">
        <img src="{{movie.cover_image.url}}"/>
        <div class="detail__content">
            <div class="detail__content-row mb-8">
                <h1 class="text-3xl my-2">{{movie.title}}</h1>    
                <span class="span__circle bg-blue-300 ">{{movie.year}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Category</span>
                <span class="span__circle bg-green-400 ">{{movie.category}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Director</span>
                <span class="span__circle bg-red-900 ">{{movie.director}}</span>
            </div>
            <div class="detail__content-row">
                <span class="detail__content-title">Cast</span>
                <div class="flex flex-wrap">
                    {% for c in movie.cast.all  %}
                        <span class="span__circle bg-yellow-400  mr-1 mb-1">{{c}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="detail__content-row text-center">
                <a class="detail__edit" href="{% url 'movies:edit' movie.pk%}">Edit Movie</a>
            </div>
        </div>
    </div>
{% endblock content %}