{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title %}{% endblock page_title %} | Wookkl</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <a href="{% url 'core:home' %}">Wookkl Media</a>
        {% block search-bar %}
            <form method="get" action="{% url 'core:search' %}">
                <input name="category" placeholder="Search By Category" />
            </form>
        {% endblock search-bar %}
        {% include "partials/nav.html" %}
        {% block content %}
        {% endblock content %}
        {% include "partials/footer.html" %}
    </body>
</html>