{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title %}{% endblock page_title %} | Wookkl</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body class="bg-gray-400">
        {% include "partials/header.html" %}
        <div class="min-h-screen">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "partials/footer.html" %}
    </body>
</html>