{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
<div class="home">
    <h1 class="home__title">Movies</h1>
    <div class="home__content">
        {% if movies %}
            {% for movie in movies %}
                {% include "mixins/movie_card.html" with movie=movie %}
            {% endfor %}
        {% endif %}
        <a href="/movies/">see all movies</a>
    </div>
    <h1 class="home__title">Books</h1>
    <div class="home__content">
        {% if books %}
            {% for book in books %}
                {% include "mixins/book_card.html" with book=book %}
            {% endfor %}
            <a href="/books/">see all books</a>
        {% endif %}
    </div>
    <h1 class="home__title">People</h1>
    <div class="home__content">
        {% if people %}
            {% for person in people %}
                {% include "mixins/person_card.html" with person=person %}
            {% endfor %}
            <a href="/people/">see all people</a>
        {% endif %}
    </div>
</div>
{% endblock content %}