{% extends "base.html" %}

{% block page_title %}
    Update Profile
{% endblock page_title %}

{% block content %}
    <div class="form">
        <form method="POST" action="{% url 'users:update' %}">
            {% csrf_token %}
            {% for field in form %}
                {% include "mixins/input.html" with field=field %}
            {% endfor %}
            <input class="submit-btn" type="submit" value="Update Profile"/>
        </form>
        <div class="text-center mt-3">
            <a class="text-lg text-red-400" href="{% url 'users:password' %}">Change Password</a>
        </div>
    </div>
{% endblock content %}