{% extends "base.html" %}

{% block page_title %}
    {{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block content %}
    <div>
        <h1>{% include "mixins/user_avatar.html" with user=user_obj %}</h1>
        <div>
            <span>{{user_obj.first_name}}</span>
            <span>{{user_obj.bio}}</span>
        </div>
        {% if user == user_obj %}
            <a href = "{% url 'users:update' %}">Edit Profile</a>
        {% endif %}
    </div>       
{% endblock content %}